<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="connect_to_server2.Properties.Settings.LibraryConnectionString" connectionString="Data Source=NARIMAN-MAHMOUD\SQLEXPRESS;Initial Catalog=libray_management;Integrated Security=True" providerName="Microsoft.Data.SqlClient"/>
		<add name="connect_to_server2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\database assignment\sql database\library mangment.mdf;Integrated Security=True;Connect Timeout=30" 
			 providerName="Microsoft.Data.SqlClient"/>

	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>


<entityFramework>
	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
		<parameters>
			<parameter value="System.Data.SqlServerCe.4.0"/>
		</parameters>
	</defaultConnectionFactory>
</entityFramework>
	
</configuration>